/* problem 1  */
@media screen and (min-width: 535px) {
  .container {
    width: 375px;
    
  }
}

.container {
  display: grid;
  width: 70%;
  /* grid-template-columns: 1fr; */
  /* width: min(70%, 375px); */
  grid-template-columns: 1fr;
  /* justify-items: center;
  justify-content: center; */
  /* align-items: stretch;
  align-content: stretch; */
  /* position: relative;
  left:0;
  right:0;
  top:0;
  bottom:0; */
  margin: auto;
}

figure figcaption {
  text-align: center;
  text-transform: capitalize;
}

figure img {
  width: 100%;
  height: auto;
}


/* problem 2 */
@media screen and (min-width: 650px) {
  .container {
    display: grid;
    width: 95%;
    background-image: url(../images/concrete_seamless.png);
    grid-template-columns: 25% 25% 25%;
    justify-content: space-around;
  }

  .jump:focus {
    top: auto;
  }

  figure:nth-child(odd) {
    grid-column: 1 / 3;
  }

  figure:nth-child(even) {
    grid-column: 2 / 4;
  }
}


/* problem 3 */
@media screen and (min-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-between;

  }

  figure:nth-child(odd) {
    grid-column: 1 / 3;
  }

  figure:nth-child(even) {
    grid-column: 3 / 5;  
  } 

  figure:last-child {
    grid-column: 2 / 4;
  }
}

/* problem 4 */
@media screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  figure{
    width: 20%;
    align-self: center;
    order: 0;
  }

  figure:nth-child(2) {
    order: 1;
  }

  figure:nth-child(4n) {
    width: 40%;
    border: 10px solid;
  }
}


/* problem 5 */
@media screen and (min-width: 1050px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    /* column-gap: normal;
    justify-content: space-around; */
    /* justify-content: space-between;  */
    /* justify-content: center; */
  }
  figure{
    width: 75% !important;
    margin-bottom: 20px;
    justify-self: center;
  }
  figure:nth-child(2){
        order: 0;
  }
  /* figure:nth-child(4n) {
    width: 75%;
    border: 10px solid;
  } */
  
  figure:nth-child(odd) {
    grid-column: 1 / 2;
    transform: rotate(-15deg);
    /* margin-left: auto; */
  }
  
  figure:nth-child(even) {
    grid-column: 2 / 3;
    transform: rotate(15deg);
    /* margin-right: auto; */
  } 
  figure:last-child {
    grid-column: 1 / 3;
    transform: none;
  }

}

/* problem 6 */
@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}

.logo {
  animation-name: mymove;
  animation-duration: 10s;
}

@media (prefers-reduced-motion: reduce) {
  .logo {
      animation: none;
  }
}
